/*Theme By WesEmpire
Author : Kelvin Wasike
*/

//core bootstrap partials
@import url("./font/K2D-Regular.ttf");
$border-radius: 24px;
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules//@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/brands.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import "./components/banner.scss";
body
{
    font-weight: 100;
    font-family: 'K2D', sans-serif;
}

button {
    border-radius: 30%;
}

