//banner

.banner{
    padding-top: 44px;
    height: 100%;
    width: 100%;
}

.fixed
{
    z-index: 1;
    position: fixed;
    width: 100%;
}

.banner-content
{
    text-align: center;
    padding-top: 10%;
}